<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="../Style/1askCotxoxStyle.css"></link>
    <title>Peticion</title>

</head>
<body>
    <!--Driver Info-->
    <div id="driverInfo">
        <div id="driverImage">
            <img id="driverImg" src="../Multimedia/standardCar.png" alt="Driver image"></img> 
        </div>

        <div id="userLocation">
            <span id="pickupLocationStreet">IES Borja Moll</span>
        </div>

        <div id="pickupLocation">
            <span id="pickupLocationInfo">Pickup Location</span>
        </div>
    </div>

    <!--Button-->
    <div id="divButton">
        <button type="button" id="buttonSetPickup">
            Set Pickup
        </button>
    </div>
</body>
</html>
