<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="../Style/2estimatedCostStyle.css"></link>
    <title>Coste estimado</title>

</head>
<body>
    <!--General Wrap-->
    <div id="generalWrap">
        
        <div id="driverInformationTopDiv">
            
            <!--Left image-->
            <div id="driverImageDiv">
                <img id="driverImg" src="../Multimedia/standardCar.png" alt="Driver image"></img>
            </div>
            
            <!--Right information-->
            <div id="driverInformation">
                <span id="pickupLocationStreet">IES Borja Moll</span>
                
                <div>
                    <span id="pickupLocationInfo">Pickup Location</span>
                </div>
            </div>
                        
        </div>
        
        <div id="centralDiv">

            <!--Paymant div-->
            <div id="paymentDiv">
                <img alt="MasterCard" id="masterCardImg" src="../Multimedia/masterCard.png"></img>
                   
                <span id="payment">Payment</span>
            </div>
            
            <div id="price">
                <span id="total">TOTAL</span>
                <span id="dollars">20</span>
            </div>
            
        </div>
        
        <div id="bottomDiv">
            <div id="originDiv">
                <li id="origin">IES Borja Moll</li>
            </div>
        
            <div id="destinationDiv">
                <li id="destination">Plaza España</li>
            </div>
        </div>
        
        <!--Button-->
        <div id="divButton">
            <button type="button" id="buttonSetPickup">
                Request Driver
            </button>
        </div>
    </div>
</body>
</html>