<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="../Style/3driverInformationStyle.css"></link>
    <title>Información del conductor</title>

</head>
<body>
    <!--General Wrap-->
    <div id="generalWrap">
        
        <div id="driverInformationTopDiv">
            <span id="yourDriver">TU CONDUCTOR HA LLEGADO</span>
        </div>
        
        <div id="centralDiv">
            <div id="driverImageDiv">
                <img id="driverImg" th:src='${imgConductor}' alt="Driver image"></img>
            </div>
            
            <div id="rest">
                <div id="valoracion">Valoracion <span id="spanVal" th:text="${valoracion}"></span></div>
                <div id="nombre">Conductor <span id="spanNombre" th:text="${nameConductor}"></span> </div>
                <div id="coche">Modelo <span id="spanCoche" th:text="${marcaMoto}"></span></div>
            </div>
        </div>
        
        <div id="bottomDiv">
            <div id="originDiv">
            <ul>
                <li id="origin">IES Borja Moll</li>
            </ul>
            </div>
        
            <div id="destinationDiv">
            <ul>
                <li id="destination">Plaza España</li>
            </ul>
            </div>
        </div>
        
        <!--Button-->
        <div id="divButton">
            <button type="button" id="buttonSetPickup">
                Request Driver
            </button>
        </div>
    </div>
</body>
</html>