<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="../Style/4payDriverStyle.css"></link>
    <title>Pago</title>
</head>
<body>
    <!--General Wrap-->
    <div id="generalWrap">
        <div id="divLimosna">
            <p id="limosna">Selecciona una propina para el conductor</p>
            <p id="driverBoy"> Samantha</p>
        </div>
        <div id="table">
            <table>
                <tr>
                    <td><button type="button">No tip</button></td>
                    <td><button type="button">1 €</button></td>
                    <td><button type="button">2 €</button></td>
                    <td><button type="button">5 €</button></td>
                    <td><button type="button">Otro</button></td>
                </tr>
            </table>
        </div>
        <div id="bottom">
            <p id="price"> 6 <span> €</span></p>
        </div>

        <!--Button-->
        <div id="divButton">
            <button type="button" id="buttonSetPickup">
                Siguiente
            </button>
        </div>
    </div>
</body>
</html>