<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="../Style/4payDriverStyle.css"></link>
    
    <title>Valora al conductor</title>
</head>
<body>
    <!--General Wrap-->
    <div id="generalWrap">
        <div id="divLimosna">
            <p id="limosna">Valora a nuestro conductor</p>
            <p id="driverBoy" th:text="${nameConductor}">nombreConductor</p>
        </div>
        <div id="tableRate">
            <table>
                <tr>
                    <td><button type="button">1</button></td>
                    <td><button type="button">2</button></td>
                    <td><button type="button">3</button></td>
                    <td><button type="button">4</button></td>
                    <td><button type="button">5</button></td>
                </tr>
            </table>
        </div>
        <div id="bottom">
            <p id="price">¿Cómo de bueno ha sido el servicio?</p>
        </div>
    </div>
</body>
</html>